html {
	overflow: hidden;
	background: #252526;
}

.input[disabled] {
	opacity: 0.5;
}

.page-wrapper {
	position: relative;
}

#view-holder > canvas {
	display: block;
	margin: 0 auto;
}

#panel-options {
	z-index: 100;
	position: absolute;
	width: 250px;

	top: 50px;
	right: 50px;
	background: #222;
}

#panel-options .panel-heading {
	background-color: #222;
    color: #fff;
    border-color: #3F3F46;
}

#panel-options .panel-block {
    border-color: #3F3F46;
    color: #FFF;
    display: block;
}

#panel-options .panel-block .button {
	background-color: #2D2D30;
	color: #D1D3D3;
	border-color: #3F3F46;
}

#panel-options .panel-block .button.is-active {
	color: #2D2D30;
	background-color: #D1D3D3;
	border-color: #3F3F46;	
}

.error-box {
	display: none;

	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
}

#notification-holder {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    padding-top: 20px;
}

#notification-holder .notification {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}